# Dependencies
node_modules

# Build outputs
dist
.next
out

# Turbo
.turbo

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Logs
*.log

# pnpm
.pnpm-store
archived
generated