DATABASE_URL="database-url"
JWT_ACCESS_SECRET="access-secret"
JWT_REFRESH_SECRET="refresh-secret"

JWT_EMAIL_VERIFY_SECRET="email-verify-secret"
JWT_EMAIL_VERIFY_EXPIRES_IN="24h"
SMTP_HOST="smtp.example.com"
SMTP_PORT=587
SMTP_USER="smtp-user"
SMTP_PASS="smtp-pass"
SMTP_SECURE=false
MAIL_FROM="no-reply@example.com"

BACKEND_URL="http://localhost:3001"
PORT=3001
FRONTEND_URL="http://localhost:3000"
